
.mainlogo{
  position: absolute;
  width: 0;
  height: 0; 
}
.logoref{
      width: 400px;
      height: 400px;
    stroke: #bac641;
    stroke-width: 40;
    
    animation-delay: 0s;
    animation-name: beat-stroke-width;
    animation-duration: 2s;
   animation-iteration-count: infinite; 
}
.upper-beat2{
    opacity: 0;

    animation-delay: 0s;
    animation-name: beat-upper-line;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
}
.lower-beat2{
    opacity: 0;

    animation-delay: 0s;
    animation-name: beat-lower-line;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
}

.logoall_ref{
    fill: #bac641;
} 

@keyframes beat-stroke-width{
    0% {
        stroke-width: 40;
    }
    80% {
        stroke-width: 40;
    }
    90% {
        stroke-width: 45;
    }
    100% {
        stroke-width: 40;
    }
}
@keyframes beat-upper-line{
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes beat-lower-line{
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
